@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .d-btn {
        @apply btn btn-sm bg-b-yellow border-none shadow-sm rounded-[3px] text-black text-[12px] hover:bg-yellow-200 font-semibold
    }
}

nav.image-gallery-thumbnails-container {
    display: flex;
    justify-content: space-between;
}

button.image-gallery-thumbnail.active {
    background-color: #ffffff;
}

img.image-gallery-thumbnail-image {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
}

div#\:r3\:-tabpanel-0 {
    padding: 0px;
}